extends layout

block content
  h1= title
  p Welcome to #{title}
  
    .container
      h2.bg-info All Bookings
        .row
          each booking in bookings
            .card.col-lg-3.col-md-4.col-sm-12
              a(href='/booking/' + booking.BookingNo)
                //img.card-img-top(src=booking.image height="200")
              .card-body
                a(href='/booking/' + booking.BookingId)
                  h5.card-title= booking.BookingNo
                h6.card-text
                  | Passengers: #{booking.TravelerCount}
                  | CustomerID: #{booking.CustomerId}
    
