//- 
  // --------------------------- Booking-edit.pug file --------------------------- //

  //**
     * Name: Fariha Siddiqui
     * Student ID: 000880957
     * Date: 12-08-2021
     * Purpose: THREADED PROJECT OF PROJ-009-004
     ** //

  // ---------------------------------------------------------------------------- //


extends layout

block content
  title Edit Booking

  // --------------------------- Banner --------------------------- //

  .banner
    .card.bg-dark.text-white
      img#mybanner.card-img(src='/images/passport.jpg' alt='marketing')
      .card-img-overlay
        h5.card-title 
        p.card-text

  // --------------------------- Edit Booking Title - Booking Number --------------------------- //

  h1 #{title}: #{bookings.BookingNo}
  
  .container
  
    // --------------------------- Form for Updating Number of Travellers --------------------------- //

    form.row.g-3(method='POST' action="")
      .row.g-3
        .col
          label.form-label(for='inputBookingDate')
          b Booking Date:
          input#inputBookingDate.form-control(type='string' name='BookingDate' disabled value=bookings && BookDate)
        .col
          label.form-label(for='inputBookingNo')
          b Booking Reference#:
          input#inputBookingNo.form-control(type='text' name='BookingNo' disabled value=bookings && bookings.BookingNo)
        .col
          label.form-label(for='inputTravelerCount')
          b Number of Travellers:
          input#inputTravelerCount.form-control(type='number' required name='TravelerCount' value=bookings && bookings.TravelerCount)

      .row.g-3
        .col
          label.form-label(for='inputBookingId')
          b Booking ID:
          input#inputBookingId.form-control(type='number' name='BookingId' disabled value=bookings && bookings.BookingId)
        .col
          label.form-label(for='inputTripTypeId')
          b Trip Type:
          input#inputTripTypeId.form-control(type='text' name='TripTypeId' disabled value=bookings && bookings.TripTypeId)
        .col
          label.form-label(for='inputPackageId')
          b Package ID:
          input#inputPackageId.form-control(type='number' name='PackageId' disabled value=bookings && bookings.PackageId)

  
      // --------------------------- RETURN & UPDATE Buttons --------------------------- //

      .row.g-3
        .col-6
          a.btn.btn-secondary.col-12.mt-4(href='/booking/' + (bookings && bookings.BookingId)) RETURN

        .col-6
          button.btn.btn-success.col-12.mt-4(type='submit') UPDATE


  // --------------------------- Handling Input Errors (if any) --------------------------- //

  .container
      if errors    
        each error in errors
            p.alert.alert-danger= error

