extends layout

block content

block content
        
        // Marketing section
        .banner
          .card.bg-dark.text-white
            img#mybanner.card-img(src='/images/marketing.jpg' alt='marketing')
            .card-img-overlay
             
              h5.card-title City breaks to suit every style!
              p.card-text
                | Make the most of your vacation time with our selection  
                br
                |of getaway options fit for summer fun


        .container
          if contactForms     
              each contact in contactForms
                  h3= contact.name
                  h4= contact.email
                  h5= contact.subject 
                  p= contact.message
                  p= contact.contacturl
                  a(href="/contact/display-contact/" + contact.contacturl) #{contact.name}


        //- if contactForms
        //-     h3= contactForms.name
        //-     p= contactForms.email

        //- a(href="/contact") Back//


